{% extends "base.html" %}
{% block content %}
  

  {% if current_user.is_authenticated %}
    <h2>Teilnehmer</h2>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Start Nr.</th>
          <th>Vorname</th>
          <th>Name</th>
          <th>Zeit 1</th>
          <th>Zeit 2</th>
          <th>Zeit 3</th>
          <th>Zeit 4</th>
          <th>Zeit 5</th>
          <th>Längste Zeit</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for participant in participants %}
          <tr>
            <form method="POST" action="{{ url_for('main.update_times', id=participant.id) }}">
              <td>{{ participant.start_nr }}</td>
              <td>{{ participant.first_name }}</td>
              <td>{{ participant.last_name }}</td>
              <td><input type="text" name="time1" value="{{ participant.time1 or '' }}" class="form-control form-control-sm"></td>
              <td><input type="text" name="time2" value="{{ participant.time2 or '' }}" class="form-control form-control-sm"></td>
              <td><input type="text" name="time3" value="{{ participant.time3 or '' }}" class="form-control form-control-sm"></td>
              <td><input type="text" name="time4" value="{{ participant.time4 or '' }}" class="form-control form-control-sm"></td>
              <td><input type="text" name="time5" value="{{ participant.time5 or '' }}" class="form-control form-control-sm"></td>
              <td>{{ participant.longest_time }}</td>
              <td>
                <button type="submit" class="btn btn-primary btn-sm">
                  <i class="fas fa-save fa-sm"></i>
                </button>
              </td>
              <td>
                <a href="{{ url_for('main.participant_edit', id=participant.id) }}" class="btn btn-primary btn-sm">
                  <i class="fas fa-edit fa-sm"></i>
                </a>
              </td>
            </form>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Please Login!</p>
  {% endif %}
{% endblock %}
