{% extends "base.html" %}
{% block content %}
  <h1>Welcome to the Bullriding Swiss Championship 2024</h1>
  {% if current_user.is_authenticated %}
    <h2>Participants</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Start Nr.</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Time 1</th>
          <th>Time 2</th>
          <th>Time 3</th>
          <th>Time 4</th>
          <th>Time 5</th>
          <th>Fastest Time</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for participant in participants %}
          <tr>
            <form method="POST" action="{{ url_for('main.update_times', id=participant.id) }}">
              <td>{{ participant.start_nr }}</td>
              <td>{{ participant.first_name }}</td>
              <td>{{ participant.last_name }}</td>
              <td><input type="text" name="time1" value="{{ participant.time1 or '' }}" class="form-control"></td>
              <td><input type="text" name="time2" value="{{ participant.time2 or '' }}" class="form-control"></td>
              <td><input type="text" name="time3" value="{{ participant.time3 or '' }}" class="form-control"></td>
              <td><input type="text" name="time4" value="{{ participant.time4 or '' }}" class="form-control"></td>
              <td><input type="text" name="time5" value="{{ participant.time5 or '' }}" class="form-control"></td>
              <td>{{ participant.longest_time }}</td>
              <td>
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="{{ url_for('main.participant_edit', id=participant.id) }}" class="btn btn-primary">
                  <i class="fas fa-edit"></i> Edit
                </a>
              </td>
            </form>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Please Login!</p>
  {% endif %}
{% endblock %}
